<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Welcome to Precision Digital Dental Designs!</p><br/><br/>
    <p>(Message will go here)</p>
  </body>
</html>
