<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello Dr. <%= @user.pluck(:last_name).flatten %>,</h1>
    <p>We have received your digital files and provided you with a case number below. If you are still
    using a third party source for uploading additional files (CBCT/.dcm and .stl), please forward this case number to
    your imaging lab so they can link your case with their files using our website.
    </p>
    <p>Thank you for choosing Precision Digital Dental Designs (P3D). We are committed to making it easy
    for dentists to order services digitally with a quick turn-around.
    </p>
    <p>Your case number is <%= @this_case %></p>
  </body>
</html>
