<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello Dr. <%= @user.pluck(:last_name) %></h1>
    <p>Your case number is <%= @this_case %></p>
    <p>Thank you for using Precision Digital Dental Designs!</p>
  </body>
</html>
