<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello Dr. <%= @user[:last_name].to_s %>,</h1>
    <p>Your case number is <%= @this_case %></p>
    <p>We have received the digital files you sent to P3Dguides.com. If no additional files are to
      be sent from a third-party source, we will begin treatment planning or manufacturing your case immediately.
    </p>
    <p>If you are using a third party source for uploading additional files,
      please forward this case number to your imaging center so they can link
      your files using our website. After we receive those files, you will be contacted by P3D, and case planning or manufacturing
      will begin.
    </p>
    <p>
      Thank you for using Precision Digital Dental Designs (P3D).
      We look forward to sharing in the excitement that digital technology brings in
      making dentistry more precise, efficient, and predictable.
    </p>
  </body>
</html>
