<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>P3D Guides Password Reset</p><br/>
    <%= link_to "Reset Password", @url %>
  </body>
</html>
