<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>A new file has been uploaded for case number <%= @this_case %></p>
    <p>Please look for it on your AWS database.</p>
  </body>
</html>
